@font-face {
    font-family: 'gothic';
    src: url(../font/NanumGothic-Regular.ttf);
}
@font-face {
    font-family: 'GmarketBold';
    src: url(../font/GmarketSansTTFMedium.ttf);
}
@font-face {
    font-family: 'gothic-bolder';
    src: url(../font/NanumGothic-ExtraBold.ttf);
}
/* utill */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin:-1px;
    border: none;
    clip: rect(0,0,0,0)
}
.hl.much {
    font-size: 20px;
    padding: 2px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(16, 58, 95);
    background-color: rgb(16, 58, 95);
}
.circle.disabled {
    border: 1px solid rgb(152, 200, 242);
    background-color: rgb(152, 200, 242);
}
.ti {
    text-indent: -200px;
}
.hl {
    font-size: 14px;
    font-weight: 800;
}
.em {
    background-color: #d8d5d59c;
    font: 900;
    padding: 2px 5px;
    display: inline;
}
/* //utill */

/* default */
* {
    font-family: 'gothic';
    box-sizing: border-box;
}
strong {
    font-weight: 600;
}
small {
    font-weight: 300;
}
/* //default */

/* header-section */
#header {
    width: 100vw;
    height: 220px;
    background-color: aliceblue;
    overflow: hidden;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.header-cont {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header-cont img {
    width: 190px;
    height: 250px;
    border-radius: 80px;
    margin-left: 70px;
}
.header-cont .header-tit {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 80px;
    margin-right: 80px;
}
.header-cont .header-tit > *{
    margin-bottom: 15px;
}
.header-cont .header-tit h2 {
    display: inline-block;
    color: rgb(25, 88, 143);
    border-radius: 5px;
    font-weight: 800;
    font-size: 42px;
    margin-right: 10px;
}
.header-cont .header-tit small {
    margin-right: 20px;

}

/* main-section */

#main {
    width: 100vw;
}

#main h2 {
    font-weight: 800;
    font-size: 28px;
    text-indent: 20px;
    margin-bottom: 20px;
}
#main article {
    margin: 70px auto;
}
article h3,
#main article p,
article ul {
    margin-bottom: 20px;
}

#main article h2 {
    font-family: 'gothic-bolder';
    font-size: 20px;
    color: rgb(25, 88, 143);
    width: 100%;
    background-color: aliceblue;
    
}

.main-cont {
    width: 50%;
    margin: 50px auto 0;
}
.main-cont .project-section {
    font-family: 'gothic-bolder';
    font-size: 14px;
    color: rgb(25, 88, 143);
    width: 100%;
    background-color: aliceblue;
}


.main-cont .intro p {
    width: 600px;
    font-size: 14px;
    line-height: 30px;
}
#main .main-cont .about-text {
    min-width: 700px;
}
#main .exp li {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
}

.main-cont .skill-ls {
    display: flex;
    padding-left: 20px;
    gap: 200px;
}
.main-cont .skill-ls li {
    padding-bottom: 10px;
}

.main-cont .skill-ls li h3 {
    margin-left: 0;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 10px;
    font-family: 'gothic-bolder';
    font-size: 14px;
}

.project-item {
    width: 700px;
    height: auto;
}
.project-item .project-link {
    margin-top: 20px;
}
.project-item .project-title {
    font-family: 'gothic-bolder';
    font-size: 21px;
    color: rgb(25, 88, 143);
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}
.item-cont {
    display: flex;
    justify-content: space-between;
}
.item-cont .item-text-cont {
    width: 300px;
}
.item-cont .item-text-cont .item-text{
    width: 300px;
    line-height: 30px;
    font-size: 14px;
    font-family: 'GmarketMedium'; 
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.item-cont .item-text-cont .item-text.third {
    margin-top: 60px;
}
.item-cont .item-text-cont .item-text.move {
    margin-top: 50px;
}

.milion {
    width: 250px;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

.project-cont {
    width: 600px;
    margin: 0 auto;
}

.skill-pro {
    display: flex;
    gap: 3px;
    padding-top: 3px;
}
.skill-pro-list {
    display: flex; 
    gap: 10px;
}
.skill-pro-list img {
    width: 30px;
    height: 30px;
}
.skill-pro-cont {
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 30px;

}

/* darkmode */
.darkmodBtn {
    background-color: transparent;
    border: none;
    text-align: right;
}
.altText {
    display: none;
}
@media screen and (max-width:1000px) {
    header {
        display: none;
    }
    main {
        display: none;
    }
    .altText{
        width: 100vw;
        height: 100vh;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }
}
