@charset "utf-8";

@font-face {
    font-family: 'Retronsans', sans-serif;
    font-weight: 400;
    src: url('../font/establish Retrosans.otf');
  }
@font-face {
    font-family: 'Gmarket', sans-serif;
    font-weight: 400;
    src: url('../font/GmarketSansBold.otf');
  }