@charset "utf-8";

.main-page_header {
    width: 22vw;
    height: 100vh;
    display: flex;
    padding: 90px 50px 90px 90px;
    flex-direction: column;
    color: #04AD8B;
    font-family : 'Retronsans', sans-serif;
    .main-title {
        width: 200px;
        font-size:  40px;   
        font-weight: 700;
     a {
         text-decoration: none;
         color: $projtit;
     }
    }
    .list_cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            font-size: 22px;
            margin-top: 80px;
            padding-bottom: 10px;
            text-align: left;
            position: relative;
            h2 {
                transform: translateX(0px);
                transition: ease 1s all;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
                height: 1px;
                background-color: #04AD8B;
            }
        }
    }
}

// secondpage

.main-page_header {
    .list_cont {
        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            position: relative;
            font-size: 30px;
            margin-top: 40px;
            margin-left: 10px;
            text-align: left;
            font-family: 'Gmarket';
            transition: ease all 1s;
            &.on {
                transition: ease all 1s;
                margin-left: -10px;
                color: #04AD8B;

            }
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                width: 300px;
                height: 5px;
                top: 50%;
                left: -300px;
                background-color: #04AD8B;
            }
        }
        .css {
            font-size: 27px;
            &.on {
                margin-left: -15px;
            }
        }
    }
}