@-webkit-keyframes slidein {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.empha {
  display: inline-block;
  color: #04AD8B;
  font-size: 30px;
  margin-top: 10px;
}

.circle_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

.circle_cont .circle_item {
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #04AD8B;
}

.circle_cont .circle_item.on {
  background-color: #A9E0D5;
}

.next-btn {
  border: none;
  background-color: #F4FFFC;
  position: relative;
}

.next-btn img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -110px;
  width: 70px;
  -webkit-animation: .5s linear 1s infinite alternate slidein;
          animation: .5s linear 1s infinite alternate slidein;
}

@font-face {
  font-family: 'Retronsans', sans-serif;
  font-weight: 400;
  src: url("../font/establish Retrosans.otf");
}

@font-face {
  font-family: 'Gmarket', sans-serif;
  font-weight: 400;
  src: url("../font/GmarketSansBold.otf");
}

@font-face {
  font-family: 'Retronsans', sans-serif;
  font-weight: 400;
  src: url("../font/establish Retrosans.otf");
}

@font-face {
  font-family: 'Gmarket', sans-serif;
  font-weight: 400;
  src: url("../font/GmarketSansBold.otf");
}

.main-page_header {
  width: 22vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 50px 90px 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #04AD8B;
  font-family: 'Retronsans', sans-serif;
}

.main-page_header .main-title {
  width: 200px;
  font-size: 40px;
  font-weight: 700;
}

.main-page_header .main-title a {
  text-decoration: none;
  color: #04AD8B;
}

.main-page_header .list_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page_header .list_cont li {
  font-size: 22px;
  margin-top: 80px;
  padding-bottom: 10px;
  text-align: left;
  position: relative;
}

.main-page_header .list_cont li h2 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

.main-page_header .list_cont li::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 1px;
  background-color: #04AD8B;
}

.main-page_header .list_cont button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 10px;
  text-align: left;
  font-family: 'Gmarket';
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.main-page_header .list_cont button.on {
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  margin-left: -10px;
  color: #04AD8B;
}

.main-page_header .list_cont button::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 5px;
  top: 50%;
  left: -300px;
  background-color: #04AD8B;
}

.main-page_header .list_cont .css {
  font-size: 27px;
}

.main-page_header .list_cont .css.on {
  margin-left: -15px;
}

.main-page_main {
  width: 80vw;
  height: 100vh;
  background-color: #F4FFFC;
  border: 1px solid transparent;
}

.main-page_main .list_cont .list_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 400px;
  margin: 70px 40px 0;
}

.main-page_main .list_cont .list_header .header_title {
  font-size: 22px;
}

.main-page_main .list_cont .list_header img {
  border-radius: 40px;
  width: 120px;
  -webkit-box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.4);
}

.main-page_main .list_cont .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-page_main .list_cont .project-list h2 {
  text-align: center;
  font-size: 46px;
  color: #04AD8B;
  margin-top: 70px;
}

.main-page_main .list_cont .project-list .project-list-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin-top: 20px;
  margin-right: 50px;
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit figcaption {
  text-align: center;
  font-size: 24px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit.reactPart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit.reactPart:first-child {
  margin-right: 200px;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .pj-img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .pj-img-cont img {
  width: 230px;
  height: 320px;
  margin-right: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit img {
  width: 230px;
  height: 320px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .project-disc {
  width: 260px;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .project-disc.indent {
  text-indent: 10px;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .project-disc.deco {
  width: 180px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .project-disc.deco a {
  text-decoration: none;
  color: black;
}

.main-page_main .list_cont .project-list .project-list-cont .project-tit .project-disc.deco:hover {
  background-color: blanchedalmond;
}

.main-page_main .list_cont .list_item {
  margin-left: 50px;
  margin-bottom: 40px;
}

.main-page_main .list_cont .list_item .personal_info {
  margin-left: 22px;
}

.main-page_main .list_cont .list_item .personal_info li {
  position: relative;
}

.main-page_main .list_cont .list_item .personal_info li:nth-child(1)::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -25px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../img/icon-person.svg");
}

.main-page_main .list_cont .list_item .personal_info li:nth-child(2)::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -25px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../img/icon-phone.svg");
}

.main-page_main .list_cont .list_item .personal_info li:nth-child(3)::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -25px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../img/icon-location.svg");
}

.main-page_main .list_cont .list_item .graduate_cont li {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page_main .list_cont .list_item ul li {
  margin-top: 10px;
}

.main-page_main .list_cont .list_item:nth-child(3) {
  margin-bottom: 60px;
}

.main-page_main .list_cont .list_item:nth-child(4) {
  margin-bottom: 60px;
  height: 30px;
}

.main-page_main .list_cont .list_item:nth-child(5) ul {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-page_main .list_cont .list_item:nth-child(5) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

#cssCont {
  display: none;
}

#javascriptCont {
  display: none;
}

#reactCont {
  display: none;
}

.error_01 {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.altText {
  display: none;
}

@media (max-width: 1380px) {
  .main-page_header, main, button {
    display: none;
  }
  .altText {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */